@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --black:#130f40;
    --white:#fff;
    --gradient:linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(31, 34, 51));
    --background:rgba(255,255,255,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(255,255,255,.1);
    --border-top:.1rem solid rgba(255,255,255,.3);
    --border-left:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:var(--gradient);
}

html::-webkit-scrollbar-thumb{
    background:var(--white);
    border-radius: 5rem;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2.5rem;
}

.heading span{
    background:var(--background);
    border-radius: .5rem;
    border:var(--border);
    border-top:var(--border-top);
    border-left:var(--border-left);
    font-size: 4rem;
    color:var(--white);
    padding:.5rem 1.5rem;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    box-shadow: var(--box-shadow);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    transition: .2s linear;
    background:var(--white);
    color:var(--black);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:.8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .1rem;
}

.gradient-background{
    height: 100%;
    width: 100%;
    background: var(--gradient);
    position: fixed;
    top:0; left: 0;
    z-index: -1;
    overflow:hidden;
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://static.vecteezy.com/system/resources/previews/027/812/476/non_2x/abstract-technology-background-with-connection-lines-and-dots-3d-rendering-abstract-digital-background-of-points-and-lines-plexus-big-data-network-or-connection-ai-generated-free-photo.jpg); /* Đường dẫn đến ảnh */
    background-size: cover; 
    opacity: 0.5; 
    z-index: -1; 
}

.header{
    position: fixed;
    top:1rem; left:50%;
    transform: translateX(-50%);
    z-index: 1000;
    height:10% ;
    width: 91.5%;
    background: var(--background);
    border:var(--border);
    border-top:var(--border-top);
    border-left:var(--border-left);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    padding:2rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(.4rem);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--white);
    text-transform: uppercase;
}

.header .logo i{
    color:var(--black);
}

.header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color:var(--white);
}

#menu-btn{
    font-size: 3rem;
    cursor: pointer;
    color:var(--white);
    display: none;
}

.home{
    height: 100vh;
    padding:7rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .content{
    width: 75rem;
    text-align: center;
}

.home .content h3{
    color: var(--white);
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1.8;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.home .content p{
    font-weight: 300;
    color: var(--white);
    font-size: 2rem;
    line-height: 1.8;
    padding:1rem 0;
}
/* From Uiverse.io by Li-Deheng */ 
  
.home .btn-content {
    --color-text: #ffffff;
    --color-background: #ff135a;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.3rem;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 20rem;
    box-shadow: 0 0 0.2em 0 var(--color-background);
    margin-top: 1rem;
    padding: 1.1rem 2.1rem;
  }
  
.home .btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
.home .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }
  
.home .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
  
  .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
    
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
.home .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
.home .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
.home .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: white;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }

.page {
    position: relative; /* Để có thể đặt lớp phủ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; /* Đảm bảo nội dung nằm trên ảnh nền */
}

.page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-technology-ai-technology-blue-business-picture-image_1482225.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4; /* Chỉ làm mờ ảnh nền */
    z-index: -1; /* Đặt ảnh nền phía sau nội dung */
}

.page .content2 {
    position: relative; /* Giữ nội dung nằm trên lớp phủ */
    z-index: 2; /* Đảm bảo nội dung nằm trên ảnh nền và lớp phủ */
    color: white; /* Đảm bảo chữ màu trắng */
}


.page .content2 h3{
    color: var(--white);
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1.8;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.page .content2 p{
    font-weight: 500;
    color: var(--white);
    font-size: 2rem;
    line-height: 1.8;
    padding:1rem 0;
}
.page .btn-content {
    --color-text: #ffffff;
    --color-background: #ff135a;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.3rem;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 20rem;
    box-shadow: 0 0 0.2em 0 var(--color-background);
    margin-top: 1rem;
    padding: 1.1rem 2.1rem;
  }
  
.page .btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
.page .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }
  
.page .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
  
  .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
    
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
.page .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
.page .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
.page .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: white;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .home .content h3{
        font-size: 3.5rem;
    }

    .home .content p{
        font-size: 1.6rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading span{
        font-size: 3rem;
    }

}
.chat-container {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 75%;
  border: 1px solid var(--border);
  border-radius: 5%;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: none; /* Initially hidden */
  flex-direction: column;
}

.chat-header {
  background-color: rgb(50, 50, 102);
  color: var(--white);
  padding: 1rem;
  text-align: center;
  border-radius: .5rem .5rem 0 0;
  font-size: 2rem;
}

.chat-messages {
  padding: 1rem;
  flex: 1;
  overflow-y: auto;
  border: 1px solid var(--border);
  border-top: none;
}

.chat-messages div {
  font-size: 1.5rem;
}

.chat-input {
  background-color: rgb(50, 50, 102);
  display: flex;
  padding: 1%;
  border-top: 1px solid var(--border);
  position: relative;
  width: 100%; 
  bottom: 0; 
}
.chat-input input {
  background-color: rgb(187, 255, 255);
  flex: 1;
  border: none;
  padding: .5rem;
  border-radius: .3rem;
  font-size: 1.8rem;
}



button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(5em);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
  
  
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 60px; 
    height: auto;
    margin-right: 10px; 
    
}

.logo-text {
    font-size: 2.5rem;
    color: var(--white);
    font-weight: bold;
}
.header .logo-text {
    display: inline-block;
    background: linear-gradient(45deg, red, yellow, rgb(0, 217, 255), rgb(52, 255, 12), rgb(179, 238, 130));
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.5s ease; 
}
.header .logo:hover .logo-text {
    display: inline-block;
    background: linear-gradient(45deg, rgb(52, 255, 12), rgb(179, 238, 130), red, yellow, rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.1); 
    transition: all 0.3s ease; 
}
.header .logo-img {
    animation: rotateLogo 10s linear infinite;
}
@keyframes rotateLogo {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
}
}
.background2-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://png.pngtree.com/background/20211215/original/pngtree-blue-and-purple-modern-background-design-free-png-picture-image_1451507.jpg);
    background-size: cover; 
    opacity: 0.5; 
    z-index: -1; 
}
.button2 {
    display: block;
    position: relative;
    top:1.3rem;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }
  
  .button2:before,
  .button2:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .button2:before {
    border: 4px solid #f0eeef;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button2:after {
    border: 4px solid #96daf0;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  .button2:hover:before,
  .button2:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .button2:hover:after,
  .button2:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button2-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .button2-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #f0eeef;
  }
  
  .button2:hover .button2-box,
  .button2:focus .button2-box {
    transition: 0.4s;
    transform: translateX(-56px);
  }
   .header .button3 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        background-color: rgb(161, 255, 20);
        border-radius: 10rem;
        color: rgb(19, 19, 19);
        font-weight: 600;
        border: none;
        position: relative;
        cursor: pointer;
        transition-duration: .2s;
        box-shadow: 5rem 5rem 10rem rgba(0, 0, 0, 0.116);
        padding-left: 1rem;
        transition-duration: .5s;
      }
      
     .header .svgIcon {
        height: 25px;
        transition-duration: 1.5s;
      }
      
     .header .bell path {
        fill: rgb(19, 19, 19);
      }
      
      .header .button3:hover {
        background-color: rgb(192, 255, 20);
        transition-duration: .5s;
      }
      
      .header .button3:active {
        transform: scale(0.97);
        transition-duration: .2s;
      }
      
      .header .button3:hover .svgIcon {
        transform: rotate(250deg);
        transition-duration: 1.5s;
      }
      .header .button3:hover .button3-text {
        transform: scale(1.1); 
        transition: all 0.3s ease; 
      }
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        overflow: hidden;
        cursor: pointer;
        border-radius: 5rem;
        transition: 0.5s;
        background-size: 300% 300%;
        backdrop-filter: blur(1rem);
        animation: gradient_301 5s ease infinite;
        border: double 4px transparent;
        background-image: linear-gradient(#212121, #212121),
          linear-gradient(137.48deg, #ffdb3b 10%, #fe53bb 45%, #8f51ea 67%, #0044ff 87%);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
    .buttons-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px; /* Khoảng cách giữa các nút */
      margin-top: 20px; /* Khoảng cách bên trên */
  }
    .btn-content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 2rem;
      text-decoration: none;
      color: #fff;
      background-color: #007bff;
      border-radius: 5px;
      font-size: 1.2rem;
  }
      #container-stars {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: 0.5s;
        backdrop-filter: blur(1rem);
        border-radius: 5rem;
      }
      
      strong {
        z-index: 2;
        font-family: "Avalors Personal Use";
        font-size: 12px;
        letter-spacing: 5px;
        color: #ffffff;
        text-shadow: 0 0 4px white;
      }
      
      #glow {
        position: absolute;
        display: flex;
        width: 12rem;
      }
      
      .circle {
        width: 100%;
        height: 30px;
        filter: blur(2rem);
        animation: pulse_3011 4s infinite;
        z-index: -1;
      }
      
      .circle:nth-of-type(1) {
        background: rgba(254, 83, 186, 0.636);
      }
      
      .circle:nth-of-type(2) {
        background: rgba(142, 81, 234, 0.704);
      }
      
      .btn:hover #container-stars {
        z-index: 1;
        background-color: #212121;
      }
      
      .btn:hover {
        transform: scale(1.1);
      }
      
      .btn:active {
        border: double 4px #fe53bb;
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation: none;
      }
      
      .btn:active .circle {
        background: #fe53bb;
      }
      
      #stars {
        position: relative;
        background: transparent;
        width: 200rem;
        height: 200rem;
      }
      
      #stars::after {
        content: "";
        position: absolute;
        top: -10rem;
        left: -100rem;
        width: 100%;
        height: 100%;
        animation: animStarRotate 90s linear infinite;
      }
      
      #stars::after {
        background-image: radial-gradient(#ffffff 1px, transparent 1%);
        background-size: 50px 50px;
      }
      
      #stars::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 170%;
        height: 500%;
        animation: animStar 60s linear infinite;
      }
      
      #stars::before {
        background-image: radial-gradient(#ffffff 1px, transparent 1%);
        background-size: 50px 50px;
        opacity: 0.5;
      }
      
      @keyframes animStar {
        from {
          transform: translateY(0);
        }
      
        to {
          transform: translateY(-135rem);
        }
      }
      
      @keyframes animStarRotate {
        from {
          transform: rotate(360deg);
        }
      
        to {
          transform: rotate(0);
        }
      }
      
      @keyframes gradient_301 {
        0% {
          background-position: 0% 50%;
        }
      
        50% {
          background-position: 100% 50%;
        }
      
        100% {
          background-position: 0% 50%;
        }
      }
      
      @keyframes pulse_3011 {
        0% {
          transform: scale(0.75);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
        }
      
        70% {
          transform: scale(1);
          box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }
      
        100% {
          transform: scale(0.75);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
      }
      